<% if(info && info.length) {%> 
    <div class="modal fade show" tabindex="-1" id="flashModal" style="padding-right: 17px; display: block;" aria-modal="true" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross"></em></a>
                <div class="modal-body modal-body-lg text-center">
                    <div class="nk-modal">
                        <em class="nk-modal-icon icon icon-circle icon-circle-xxl ni ni-check bg-success"></em>
                        <h4 class="nk-modal-title">Welcome, Larrf Perky!</h4>
                        <div class="nk-modal-text">
                            <div class="caption-text">In this demo you can explore the inside of Jovi! <br><br><strong>Note</strong> - as a demo user, your <strong class="text-danger">changes will not be saved.</strong></div>
                        </div>
                        <div class="nk-modal-action">
                            <a href="#" class="btn btn-lg btn-mw btn-primary" data-dismiss="modal">OK</a>
                            <%= success %> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } %>