<% layout('../views/layouts/boilerplate') %> 
<div class="container-lg wide-lg">
    <div class="nk-block nk-block-lg">
        <div class="nk-block-head">
            <div class="nk-block-head-content">
                <h3 class="title nk-block-title">Create A New Ticket</h3>
                <div class="nk-block-des">
                    <p>Create a new ticket. Make sure to provide as much information as possible.</p>
                </div>
            </div>
        </div>
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="card-head">
                    <h5 class="card-title">New Ticket</h5>
                </div>
                <form class="gy-3" action="/Tickets/Create" method="post">
                    <input type="hidden" data-val="true" data-val-required="The Created field is required." id="Created" name="Created" value="" />
                    <input type="hidden" id="Updated" name="Updated" value="" />

                    <div class="row g-3 align-center">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="form-label" for="site-name">Title</label>
                                <span class="form-note">Make this short but meaningful.</span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <input class="form-control" type="text" data-val="true" data-val-length="The field Title must be a string with a maximum length of 50." data-val-length-max="50" data-val-required="The Title field is required." id="Title" maxlength="50" name="Title" value="" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 align-center">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="form-label">Description</label>
                                <span class="form-note">Explain the issue and please include all related error messages.</span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <textarea class="form-control form-control-sm tinymce-basic" data-val="true" data-val-length="The field Description must be a string with a maximum length of 250." data-val-length-max="250" data-val-required="The Description field is required." id="Description" maxlength="250" name="Description">
</textarea>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 align-center">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="form-label">Project</label>
                                <span class="form-note">Include the project this ticket most likely belongs in.</span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <select data-search="on" class="form-control form-select" data-val="true" data-val-required="The Project field is required." id="ProjectId" name="ProjectId"><option value="1">Example Project 9</option>
<option value="2">Example Project 8</option>
<option value="3">Example Project 7</option>
<option value="4">Example Project 6</option>
<option value="5">Example Project 5</option>
<option value="6">Example Project 4</option>
<option value="7">Example Project 3</option>
<option value="8">Example Project 2</option>
<option value="9">Example Project 1</option>
<option value="10">Example Project 0</option>
</select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 align-center">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="form-label">Ticket Type</label>
                                <span class="form-note">Where is the problem occurring?</span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <select data-search="on" class="form-control form-select" data-val="true" data-val-required="The Type field is required." id="TicketTypeId" name="TicketTypeId"><option value="1">UI</option>
<option value="2">Backend</option>
<option value="3">Runtime</option>
</select>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row g-3 align-center bg-warning-dim">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-label">Ticket Priority</label>
                                    <span class="form-note">If unsure, leave at pending.</span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <select data-search="on" class="form-control form-select" data-val="true" data-val-required="The Priority field is required." id="TicketPriorityId" name="TicketPriorityId"><option value="1">Pending</option>
<option value="2">Low</option>
<option value="3">Moderate</option>
<option value="4">High</option>
<option value="5">Urgent</option>
</select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-label">Ticket Status</label>
                                    <span class="form-note">Add the current status for this ticket.</span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <select data-search="on" class="form-control form-select" data-val="true" data-val-required="The Status field is required." id="TicketStatusId" name="TicketStatusId"><option value="1">New</option>
<option value="2">Reviewed</option>
<option value="3">In Progress</option>
<option value="4">Resolved</option>
</select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-label">Assigned Developer</label>
                                    <span class="form-note">Assign or change assigned developer for this ticket.</span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <div class="custom-file">
                                            <select data-search="on" class="form-control form-select" id="DeveloperUserId" name="DeveloperUserId">
                                                <option disabled selected>--- UNASSIGNED ---</option>
                                            <option value="ba0f6329-a3c8-412e-9f50-35dc067f3d6b">Kim Williams</option>
<option value="0e614981-e8f2-4951-94fe-49de987ff1c6">Kevin Daniels</option>
<option value="ef173e22-e447-4a6e-ab23-d9f05d9a8251">Jason Walker</option>
<option value="a7041a84-f945-4e8b-a408-17474108c9ae">Carlos Young</option>
<option value="57cb70f5-7a87-4658-a175-331c1996889e">Jason Walker</option>
<option value="bae61531-f22a-4440-be7d-79778931af6c">Kim Williams</option>
<option value="d071e33b-7c08-4595-844c-0ce417fa48e2">Kevin Daniels</option>
<option value="2c0d1937-6517-43f0-9467-4458502b2285">Carlos Young</option>
<option value="2b632453-5d55-496f-a60c-bf86f1b6c430">Joshua2 Peters</option>
<option value="7af0b493-edeb-4c96-b1e6-616af9d105b5">ret trer</option>
<option value="a143495e-b8bd-41fb-a969-deebb8209572">Larr Perky</option>
</select>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="DeveloperUserId" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row g-3">
                        <div class="col-lg-7 offset-lg-5">
                            <div class="form-group mt-2">
                                <button type="submit" class="btn btn-lg btn-primary">Submit Ticket</button>
                            </div>
                        </div>
                    </div>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GG61DbYsKhNnCx8U1WKFB0F7C1yNrZZPKOkFfrrY4cjE4yoLGAeFUN6NJnEDqy9ttIapJPWUfV2v6Gsz1zUD3zRN1KA9ekAOeMJ3MPSNE5cBavibam-f1kZUv-ph7Zkf2FAS_nKGMgYwo5pBOu9BbX_qvis1kb70rYM0QUutIVKPv0HzWXn8r4Jq8bYNIAV3A" /></form>
            </div>
        </div><!-- card -->
    </div>
</div>


