<%layout('../views/layouts/boilerplate')
<div class="nk-content-wrap">
    <div class="nk-block-head nk-block-head-lg">
        <div class="nk-block-head-sub"><span>Team Members</span></div>
        <div class="nk-block-between-md g-4">
            <div class="nk-block-head-content">
                <h2 class="nk-block-title fw-normal">Team Manage</h2>
                <div class="nk-block-des">
                    <p>Manage your team roles.</p>
                </div>
            </div>
        </div>
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="card card-bordered card-inner">
            <table class="table table-member datatable-init">
                <thead class="tb-member-head thead-light">
                    <tr class="tb-member-item">
                        <th class="tb-member-info">
                            <span class="overline-title">Team Member</span>
                        </th>
                        <th class="tb-member-type tb-col-sm">
                            <span class="overline-title">Permission</span>
                        </th>
                        <th class="tb-member-role tb-col-md">
                            <span class="overline-title">Role</span>
                        </th>
                        <th class="tb-member-action">
                            <span class="overline-title">Action</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="tb-member-body">
                        <tr class="tb-member-item">

                            <td class="tb-member-info">
                                <div class="user-card">
                                    <div class="user-avatar bg-success">
                                        <span>KW</span>
                                    </div>
                                    <div class="user-info">
                                        <span class="lead-text">Kim Williams </span>
                                        <span class="sub-text">projectmanager@mailinator.com </span>
                                    </div>
                                </div>
                            </td>
                            <td class="tb-member-type tb-col-sm">
                                    <span>Normal</span>
                            </td>
                            <td class="tb-member-role tb-col-md">
                                <form method="post" id="form-0" action="/UserRoles/ManageUserRoles">
                                    
                                    <input type="hidden" id="btuser_User_Id" name="btuser.User.Id" value="ba0f6329-a3c8-412e-9f50-35dc067f3d6b">
                                    <div class="form">
                                                <select class="form-select" id="0 " data-search="off" data-ui="clean" name="btuser.SelectedRole"><option value="Admin">Admin</option>
<option selected="selected" value="ProjectManager">ProjectManager</option>
<option value="Developer">Developer</option>
<option value="Submitter">Submitter</option>
<option value="NewUser">NewUser</option>
<option value="Demo">Demo</option>
</select>
                                    </div>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GG61DbYsKhNnCx8U1WKFB3cbfTgNuJS8LY63n7U60JIi-BWf2usJTx4lwZ_ZBz3CfOcM3YdoV8YqQX4vrrM9e_YROxZEdJquyDrv8BRy_ir-tUi3YhODkyqrMc8cU_Vif6lC1KK2PfrooYZDtbDC-8B-VUSR_eFhfVzcoIwfJcB-07hi3f41Hvwr_iS3bTi4w" /></form>
                            </td>
                            <td class="tb-member-action">
                                <div class="d-none d-md-inline">
                                    <button class="btn btn-primary" onclick="javascript: document.getElementById('form-0').submit()">Assign</button>
                                </div>
                                <div class="dropdown d-md-none">
                                    <a class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-v"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-xs">
                                        <ul class="link-list-plain no-bdr">
                                            <li class="active"><a class="link link-sm" href="#">Edit</a></li>
                                            <li><a class="link link-sm link-danger" href="#">Remove</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr><!-- .tb-member-item -->
                        <tr class="tb-member-item">

                            <td class="tb-member-info">
                                <div class="user-card">
                                    <div class="user-avatar bg-success">
                                        <span>KD</span>
                                    </div>
                                    <div class="user-info">
                                        <span class="lead-text">Kevin Daniels </span>
                                        <span class="sub-text">developer@mailinator.com </span>
                                    </div>
                                </div>
                            </td>
                            <td class="tb-member-type tb-col-sm">
                                    <span>Normal</span>
                            </td>
                            <td class="tb-member-role tb-col-md">
                                <form method="post" id="form-1" action="/UserRoles/ManageUserRoles">
                                    
                                    <input type="hidden" id="btuser_User_Id" name="btuser.User.Id" value="0e614981-e8f2-4951-94fe-49de987ff1c6">
                                    <div class="form">
                                                <select class="form-select" id="1 " data-search="off" data-ui="clean" name="btuser.SelectedRole"><option value="Admin">Admin</option>
<option value="ProjectManager">ProjectManager</option>
<option selected="selected" value="Developer">Developer</option>
<option value="Submitter">Submitter</option>
<option value="NewUser">NewUser</option>
<option value="Demo">Demo</option>
</select>
                                    </div>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GG61DbYsKhNnCx8U1WKFB3cbfTgNuJS8LY63n7U60JIi-BWf2usJTx4lwZ_ZBz3CfOcM3YdoV8YqQX4vrrM9e_YROxZEdJquyDrv8BRy_ir-tUi3YhODkyqrMc8cU_Vif6lC1KK2PfrooYZDtbDC-8B-VUSR_eFhfVzcoIwfJcB-07hi3f41Hvwr_iS3bTi4w" /></form>
                            </td>
                            <td class="tb-member-action">
                                <div class="d-none d-md-inline">
                                    <button class="btn btn-primary" onclick="javascript: document.getElementById('form-1').submit()">Assign</button>
                                </div>
                                <div class="dropdown d-md-none">
                                    <a class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-v"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-xs">
                                        <ul class="link-list-plain no-bdr">
                                            <li class="active"><a class="link link-sm" href="#">Edit</a></li>
                                            <li><a class="link link-sm link-danger" href="#">Remove</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr><!-- .tb-member-item -->
                        <tr class="tb-member-item">

                            <td class="tb-member-info">
                                <div class="user-card">
                                    <div class="user-avatar bg-success">
                                        <span>JW</span>
                                    </div>
                                    <div class="user-info">
                                        <span class="lead-text">Jason Walker </span>
                                        <span class="sub-text">submitter@mailinator.com </span>
                                    </div>
                                </div>
                            </td>
                            <td class="tb-member-type tb-col-sm">
                                    <span>Normal</span>
                            </td>
                            <td class="tb-member-role tb-col-md">
                                <form method="post" id="form-2" action="/UserRoles/ManageUserRoles">
                                    
                                    <input type="hidden" id="btuser_User_Id" name="btuser.User.Id" value="ef173e22-e447-4a6e-ab23-d9f05d9a8251">
                                    <div class="form">
                                                <select class="form-select" id="2 " data-search="off" data-ui="clean" name="btuser.SelectedRole"><option value="Admin">Admin</option>
<option value="ProjectManager">ProjectManager</option>
<option value="Developer">Developer</option>
<option selected="selected" value="Submitter">Submitter</option>
<option value="NewUser">NewUser</option>
<option value="Demo">Demo</option>
</select>
                                    </div>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GG61DbYsKhNnCx8U1WKFB3cbfTgNuJS8LY63n7U60JIi-BWf2usJTx4lwZ_ZBz3CfOcM3YdoV8YqQX4vrrM9e_YROxZEdJquyDrv8BRy_ir-tUi3YhODkyqrMc8cU_Vif6lC1KK2PfrooYZDtbDC-8B-VUSR_eFhfVzcoIwfJcB-07hi3f41Hvwr_iS3bTi4w" /></form>
                            </td>
                            <td class="tb-member-action">
                                <div class="d-none d-md-inline">
                                    <button class="btn btn-primary" onclick="javascript: document.getElementById('form-2').submit()">Assign</button>
                                </div>
                                <div class="dropdown d-md-none">
                                    <a class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-v"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-xs">
                                        <ul class="link-list-plain no-bdr">
                                            <li class="active"><a class="link link-sm" href="#">Edit</a></li>
                                            <li><a class="link link-sm link-danger" href="#">Remove</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr><!-- .tb-member-item -->
                        <tr class="tb-member-item">

                            <td class="tb-member-info">
                                <div class="user-card">
                                    <div class="user-avatar bg-success">
                                        <span>CY</span>
                                    </div>
                                    <div class="user-info">
                                        <span class="lead-text">Carlos Young </span>
                                        <span class="sub-text">newuser@mailinator.com </span>
                                    </div>
                                </div>
                            </td>
                            <td class="tb-member-type tb-col-sm">
                                    <span>Normal</span>
                            </td>
                            <td class="tb-member-role tb-col-md">
                                <form method="post" id="form-3" action="/UserRoles/ManageUserRoles">
                                    
                                    <input type="hidden" id="btuser_User_Id" name="btuser.User.Id" value="a7041a84-f945-4e8b-a408-17474108c9ae">
                                    <div class="form">
                                                <select class="form-select" id="3 " data-search="off" data-ui="clean" name="btuser.SelectedRole"><option value="Admin">Admin</option>
<option value="ProjectManager">ProjectManager</option>
<option value="Developer">Developer</option>
<option value="Submitter">Submitter</option>
<option selected="selected" value="NewUser">NewUser</option>
<option value="Demo">Demo</option>
</select>
                                    </div>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GG61DbYsKhNnCx8U1WKFB3cbfTgNuJS8LY63n7U60JIi-BWf2usJTx4lwZ_ZBz3CfOcM3YdoV8YqQX4vrrM9e_YROxZEdJquyDrv8BRy_ir-tUi3YhODkyqrMc8cU_Vif6lC1KK2PfrooYZDtbDC-8B-VUSR_eFhfVzcoIwfJcB-07hi3f41Hvwr_iS3bTi4w" /></form>
                            </td>
                            <td class="tb-member-action">
                                <div class="d-none d-md-inline">
                                    <button class="btn btn-primary" onclick="javascript: document.getElementById('form-3').submit()">Assign</button>
                                </div>
                                <div class="dropdown d-md-none">
                                    <a class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-v"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-xs">
                                        <ul class="link-list-plain no-bdr">
                                            <li class="active"><a class="link link-sm" href="#">Edit</a></li>
                                            <li><a class="link link-sm link-danger" href="#">Remove</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr><!-- .tb-member-item -->
                        <tr class="tb-member-item">

                            <td class="tb-member-info">
                                <div class="user-card">
                                    <div class="user-avatar bg-success">
                                        <span>JP</span>
                                    </div>
                                    <div class="user-info">
                                        <span class="lead-text">Joshua2 Peters </span>
                                        <span class="sub-text">admin@mailinator.com </span>
                                    </div>
                                </div>
                            </td>
                            <td class="tb-member-type tb-col-sm">
                                    <span>Normal</span>
                            </td>
                            <td class="tb-member-role tb-col-md">
                                <form method="post" id="form-4" action="/UserRoles/ManageUserRoles">
                                    
                                    <input type="hidden" id="btuser_User_Id" name="btuser.User.Id" value="2b632453-5d55-496f-a60c-bf86f1b6c430">
                                    <div class="form">
                                            <select disabled class="form-select" id="4 " data-search="off" data-ui="clean" name="btuser.SelectedRole"><option selected="selected" value="Admin">Admin</option>
<option value="ProjectManager">ProjectManager</option>
<option value="Developer">Developer</option>
<option value="Submitter">Submitter</option>
<option value="NewUser">NewUser</option>
<option value="Demo">Demo</option>
</select>
                                    </div>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GG61DbYsKhNnCx8U1WKFB3cbfTgNuJS8LY63n7U60JIi-BWf2usJTx4lwZ_ZBz3CfOcM3YdoV8YqQX4vrrM9e_YROxZEdJquyDrv8BRy_ir-tUi3YhODkyqrMc8cU_Vif6lC1KK2PfrooYZDtbDC-8B-VUSR_eFhfVzcoIwfJcB-07hi3f41Hvwr_iS3bTi4w" /></form>
                            </td>
                            <td class="tb-member-action">
                                <div class="d-none d-md-inline">
                                    <button class="btn btn-primary" onclick="javascript: document.getElementById('form-4').submit()">Assign</button>
                                </div>
                                <div class="dropdown d-md-none">
                                    <a class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-v"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-xs">
                                        <ul class="link-list-plain no-bdr">
                                            <li class="active"><a class="link link-sm" href="#">Edit</a></li>
                                            <li><a class="link link-sm link-danger" href="#">Remove</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr><!-- .tb-member-item -->
                        <tr class="tb-member-item">

                            <td class="tb-member-info">
                                <div class="user-card">
                                    <div class="user-avatar bg-success">
                                        <span>rt</span>
                                    </div>
                                    <div class="user-info">
                                        <span class="lead-text">ret trer </span>
                                        <span class="sub-text">123@gmail.com </span>
                                    </div>
                                </div>
                            </td>
                            <td class="tb-member-type tb-col-sm">
                                    <span>Normal</span>
                            </td>
                            <td class="tb-member-role tb-col-md">
                                <form method="post" id="form-5" action="/UserRoles/ManageUserRoles">
                                    
                                    <input type="hidden" id="btuser_User_Id" name="btuser.User.Id" value="7af0b493-edeb-4c96-b1e6-616af9d105b5">
                                    <div class="form">
                                                <select class="form-select" id="5 " data-search="off" data-ui="clean" name="btuser.SelectedRole"><option value="Admin">Admin</option>
<option value="ProjectManager">ProjectManager</option>
<option value="Developer">Developer</option>
<option value="Submitter">Submitter</option>
<option selected="selected" value="NewUser">NewUser</option>
<option value="Demo">Demo</option>
</select>
                                    </div>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GG61DbYsKhNnCx8U1WKFB3cbfTgNuJS8LY63n7U60JIi-BWf2usJTx4lwZ_ZBz3CfOcM3YdoV8YqQX4vrrM9e_YROxZEdJquyDrv8BRy_ir-tUi3YhODkyqrMc8cU_Vif6lC1KK2PfrooYZDtbDC-8B-VUSR_eFhfVzcoIwfJcB-07hi3f41Hvwr_iS3bTi4w" /></form>
                            </td>
                            <td class="tb-member-action">
                                <div class="d-none d-md-inline">
                                    <button class="btn btn-primary" onclick="javascript: document.getElementById('form-5').submit()">Assign</button>
                                </div>
                                <div class="dropdown d-md-none">
                                    <a class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-v"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-xs">
                                        <ul class="link-list-plain no-bdr">
                                            <li class="active"><a class="link link-sm" href="#">Edit</a></li>
                                            <li><a class="link link-sm link-danger" href="#">Remove</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr><!-- .tb-member-item -->
                </tbody>
            </table>
        </div>
    </div>
</div>
