<% layout('../views/layouts/boilerplate') -%>
    <form action="/projects/create" method="POST">
        <label for="Title">Title</label>
        <input type="text" name="project[name]">
        <label for="Description">Description</label>
        <input type="text" name="project[description]">
        <button type="submit">Submit</button>
    </form>